# venv
**/.venv_attendance/**

# python-version
**/.python-version

# UI
# **/__UI__/**

# python
**/main_ver1.0.py
**/test.py
**/api_test.py

# config
**/config/config.json

# material
**/__PNG__/**

# Cache
**/__pycache__/**

## others
**/.vscode/**