.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(to bottom, #1a202c, #2d3748);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.register-link {
  color: white;
  cursor: pointer;
  margin: 20px 0;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  font-size: calc(1vw + 0.5rem);
  font-weight: bold;
}

.register-link:hover {
  color: #c3c5c7;
}

.register-icon {
  margin-right: 12px;
  width: 35px;
  height: 35px;
}

.attendance-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1200px;
}

.attendance-button {
  width: calc(25% - 1.5vw);
  aspect-ratio: 1 / 1;
  font-size: calc(1vw + 0.8rem);
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  min-width: 100px;
  max-width: 250px;
}

.attendance-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.clock-in {
  background-color: #e53e3e;
}

.clock-in:hover {
  background-color: #c53030; /* Darker shade of #e53e3e */
}

.break-start, .break-end {
  background-color: #38a169;
}

.break-start:hover, .break-end:hover {
  background-color: #2f855a; /* Darker shade of #38a169 */
}

.clock-out {
  background-color: #3182ce;
}

.clock-out:hover {
  background-color: #2c5282; /* Darker shade of #3182ce */
}

@media (max-width: 768px) {
  .attendance-buttons {
    gap: 3vw;
  }

  .attendance-button {
    width: calc(50% - 1.5vw);
    font-size: calc(2vw + 0.5rem);
  }
}

@media (max-width: 480px) {
  .attendance-buttons {
    flex-direction: column;
    align-items: center;
  }

  .attendance-button {
    width: 80%;
    max-width: 300px;
    font-size: calc(4vw + 0.5rem);
  }
}