/* 現在日時を表示する要素のスタイル */
.current-datetime {
    position: absolute; /* 画面の右上に固定 */
    top: 20px;
    right: 20px;
    font-size: 1.5em; /* テキストサイズを設定 */
    font-weight: bold; /* 太字にする */
    text-align: center; /* テキストを中央揃え */
}

/* 時間部分のスタイル */
.time {
    font-size: 1.5em; /* フォントサイズを指定 */
}